{
  "pid": "bw.application.APIDayProject_1.0",
  "properties": {
    "\/\/APIDayProject.module\/\/BW.MODULE.VERSION": {
      "name": "\/\/APIDayProject.module\/\/BW.MODULE.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": ".type.\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/metadata.xsd": {
      "name": ".type.\/\/APIDayProject.module\/\/metadata.xsd",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".module.name": {
      "name": ".module.name",
      "value": "APIDayProject",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "\/\/APIDayProject.module\/\/BW.APPNODE.NAME": {
      "name": "\/\/APIDayProject.module\/\/BW.APPNODE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/BW.HOST.NAME": {
      "name": ".type.\/\/APIDayProject.module\/\/BW.HOST.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/salesforce.xsd": {
      "name": ".type.\/\/APIDayProject.module\/\/salesforce.xsd",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": "\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/BW.MODULE.NAME": {
      "name": "\/\/APIDayProject.module\/\/BW.MODULE.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/BW.HOST.NAME": {
      "name": "\/\/APIDayProject.module\/\/BW.HOST.NAME",
      "value": "localhost",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "bw.application.APIDayProject_1.0",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/metadata.xsd": {
      "name": "\/\/APIDayProject.module\/\/metadata.xsd",
      "value": "AsyncAPI.xsd",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/BW.APPNODE.NAME": {
      "name": ".type.\/\/APIDayProject.module\/\/BW.APPNODE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/BW.MODULE.VERSION": {
      "name": ".type.\/\/APIDayProject.module\/\/BW.MODULE.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "APIDayProject",
      "type": "java.lang.String"
    },
    ".module.version": {
      "name": ".module.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/salesforce.wsdl": {
      "name": ".type.\/\/APIDayProject.module\/\/salesforce.wsdl",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.NAME": {
      "name": "\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.NAME",
      "value": "",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/salesforce.wsdl": {
      "name": "\/\/APIDayProject.module\/\/salesforce.wsdl",
      "value": "\/SalesforceResources\/partner_35_0.wsdl",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.VERSION": {
      "name": ".type.\/\/APIDayProject.module\/\/BW.DEPLOYMENTUNIT.VERSION",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".type.\/\/APIDayProject.module\/\/BW.MODULE.NAME": {
      "name": ".type.\/\/APIDayProject.module\/\/BW.MODULE.NAME",
      "value": "{http:\/\/www.w3.org\/2001\/XMLSchema}string",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    "\/\/APIDayProject.module\/\/salesforce.xsd": {
      "name": "\/\/APIDayProject.module\/\/salesforce.xsd",
      "value": "Salesforce_Metadata.xsd",
      "type": "java.lang.String"
    }
  }
}