{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.d02016c9-7a8c-49d8-9b01-d0b0c16e3d21",
          "type": "java.lang.String"
        },
        {
          "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.8591f5a4-0c33-464b-86b2-97f065045b7e",
          "type": "java.lang.String"
        }
      ],
      "type": "[Ljava.lang.String;"
    }
  }
}