{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection.ed3d627f-2660-4e30-a551-09cc1f8cf511",
  "properties": {
    ".type.wsdlFilePath": {
      "name": ".type.wsdlFilePath",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".name": {
      "name": ".name",
      "value": "apidayproject.module.SalesforceConnection",
      "type": "java.lang.String"
    },
    ".deployment.name": {
      "name": ".deployment.name",
      "value": "APIDayProject",
      "type": "java.lang.String"
    },
    ".isresource": {
      "name": ".isresource",
      "value": "true",
      "type": "java.lang.String"
    },
    ".public": {
      "name": ".public",
      "value": false,
      "type": "java.lang.Boolean"
    },
    "service.factoryPid": {
      "name": "service.factoryPid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection",
      "type": "java.lang.String"
    },
    "password": {
      "name": "password",
      "value": "#!krRGEAiQngZQsaydz5SNtJlZD620Tg0li04apn4wEzVi1t4yks2VP\/yeFENI+Vz+w85sMDItZMG+at0bIR5M7RQv9j9mk1wcBRwHtYkdJfI=",
      "type": "java.lang.String"
    },
    ".ns2locMap": {
      "name": ".ns2locMap",
      "value": {},
      "type": "java.util.Map"
    },
    ".bundle.name": {
      "name": ".bundle.name",
      "value": "APIDayProject.module",
      "type": "java.lang.String"
    },
    ".type": {
      "name": ".type",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection",
      "type": "java.lang.String"
    },
    ".enabled": {
      "name": ".enabled",
      "value": "true",
      "type": "java.lang.String"
    },
    "serverURL": {
      "name": "serverURL",
      "value": "https:\/\/login.salesforce.com\/services\/Soap\/u\/35.0",
      "type": "java.lang.String"
    },
    ".bundle.id": {
      "name": ".bundle.id",
      "value": 14,
      "type": "java.lang.Long"
    },
    ".type.serverURL": {
      "name": ".type.serverURL",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".bundle.version": {
      "name": ".bundle.version",
      "value": "1.0.0.qualifier",
      "type": "java.lang.String"
    },
    ".type.userName": {
      "name": ".type.userName",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".rev": {
      "name": ".rev",
      "value": 1,
      "type": "java.lang.Integer"
    },
    "wsdlFilePath": {
      "name": "wsdlFilePath",
      "value": "\/SalesforceResources\/partner_35_0.wsdl",
      "type": "java.lang.String"
    },
    ".type.sessionTimeout": {
      "name": ".type.sessionTimeout",
      "value": "java.lang.Integer",
      "type": "java.lang.String"
    },
    "userName": {
      "name": "userName",
      "value": "francisco.santoyo@gmail.com",
      "type": "java.lang.String"
    },
    ".type.password": {
      "name": ".type.password",
      "value": "java.lang.String",
      "type": "java.lang.String"
    },
    ".deployment.version": {
      "name": ".deployment.version",
      "value": "1.0",
      "type": "java.lang.String"
    },
    "service.pid": {
      "name": "service.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/salesforceconnection}SalesforceConnection.ed3d627f-2660-4e30-a551-09cc1f8cf511",
      "type": "java.lang.String"
    },
    "sessionTimeout": {
      "name": "sessionTimeout",
      "value": 120,
      "type": "java.lang.Integer"
    },
    ".deployment.type": {
      "name": ".deployment.type",
      "value": "application",
      "type": "java.lang.String"
    }
  }
}